# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
*.log
*.bak
*.swp

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/

# Archivos comprimidos
*.zip
*.rar
*.7z